h1 {
    font-family: 'Carter One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
body {
    background-color: rgba(25, 71, 101, 0.946);
    color: beige;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: #f3a30f;
}